body, html {
font-family: 'Prompt', sans-serif;
overflow:hidden;
width:100%;
height:100%;
display:block;
position:relative;
background-color:#f8f8f8;
}

p, h1, h2, h3, h4, h5, h6, a, span, link, ul, li {
font-family: 'Prompt', sans-serif!important;
}

button, #selected-row p, input {
border-radius:5px!important;    
}

.uk-navbar-container .uk-navbar-left .uk-navbar-nav {
    display: flex;
    align-items: center;
}

nav {
padding:15px;
background-color:#999!important;
}

nav img {
    width: 40px;
    margin-right: 0px;
    border-radius: 5px;
    margin-left: 0px;
    padding: 0px;
    cursor:pointer;    
}

.uk-search-input, nav button {
background-color:white!important;
border:none!important;
}

button {
text-transform:none!important;
}

#selected-row {
width:calc(40% + 30px);
background-color:#f8f8f8;
opacity:0%;
transition: all 0.5s, transform 0.25s;
transform:scale(0.95);
transform-origin: top left;
transition-timing-function:cubic-bezier(0.8,0,0,1);
}

#row-selection {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 70px);
    width: calc(60% - 30px);
    padding-left: 0px;
}

#selected-row-title {
display:block;
width:100%;
overflow:hidden;
white-space:nowrap;
}

#selected-row h1 {
display:inline-block;
font-size:30px;
vertical-align:sub;
}

#selected-row p {
display:inline-block;
font-size:15px;
color:white;
background-color:#999;
border-radius:0vmin;
padding:5px;
margin:0px 0px 0px 15px;
vertical-align:middle;
padding-left: 7.5px;
padding-right: 7.5px;
}


#row-selection-table-header {
    position: sticky;
    top: 0;
    background-color: white;
}

.uk-padding h3 {
    font-size: 16px;
    display: block;
    padding: 0px;
    margin: 0px;
}

.uk-padding hr {
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;    
}

.uk-edit-button {
background-color:#ffa50050!important;
border:none!important;
}

.uk-delete-button {
background-color: #ff000050!important;
border:none!important;
}

.uk-add-button {
    background-color: #d5ffd5!important;
    border:none!important
    }

.uk-edit-button:hover, .uk-delete-button:hover, .uk-add-button:hover {
transform:scale(1.05);
}

tr {
cursor:pointer!important;    
}

th {
white-space: nowrap;    
}


td .uk-edit-button, td .uk-delete-button {
margin: 7.5px;    
margin-top:0px;
}