* {
    margin: 0;
    padding: 1;
    box-sizing: border-box;
}

:root {
    --primary-color: #28a745; 
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #333;
    --border-color: #ddd;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
    text-align: center;
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.customer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border-color);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.customer-item p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.button-container {
    display: flex;
    gap: 10px; 
}

.customer-item button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.customer-item button:hover {
    background-color: #1e7e34; 
}

#customerDetails {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 50px;
    margin-top: 20px;
}

#customerDetails h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#customerForm input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

#customerForm button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
}

#customerForm button:hover {
    background-color: #1e7e34; 
}

#cancelBtn {
    background-color: var(--primary-color); 
    color: white;
    margin-left: 10px;
    border: none; 
    padding: 5px 7.5px;
    border-radius: 50px;
    cursor: pointer;
}

#cancelBtn:hover {
    background-color: #1e7e34; 
}
